@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.setting-div {
  z-index: 1;
  background: #4548e6;
  border: 1px solid #f7fdff3f;
}

.rotate-icon {
  transform: rotate(-60deg);
  transition: transform 0.5s ease;
}

.rotate-icon-click {
  transform: rotate(60deg);
  transition: transform 0.5s ease;
}


.text1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  animation-name: text;
  animation-duration: 2.4s;
  z-index: 0;
}


@keyframes text {
  0% {
    color: rgb(88, 86, 86);
  }

  50% {
    letter-spacing: 8px;
  }

}

.text2 {
  animation-name: text2;
  animation-duration: 2.9s;
  z-index: 0;
  font-weight: 600;
}


@keyframes text2 {
  0% {
    opacity: 0;
  }

  50% {
    letter-spacing: 20%;
  }
}